.character{
    width: 50px;
    height: 100px;
    position: absolute;
}
#player{
    background-color: blue;
}
#enemy{
    background-color: red;
}
html, body {
    overflow: hidden; /* Hides both vertical and horizontal scrolling */
    height: 100%; /* Ensures full height for the body */
}